<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Where To Go Next...</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/WhereToGoNext.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Where To Go Next...</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Where To Go Next</h1>
        <p class="lead">Here you can find the perfect holiday's package deals to enjoy with someone or just by yourself!</p>
       </div>
       <div id="results" class="col-lg-12"></div>
    </div>
  </div>

<!-- Site footer -->
<hr>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">WhereToGoNext.com <i>is all about making your trip unforgetable. </i> This web application was developed to help to put your mind at ease when planing a trip. Based on who is going and what you expect from your destination, we are here to offer you the perfect ready-to-go packages.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Family Time</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Romantic Couples</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Fun with Friends</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Enjoying Life</a></li>
                    </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Reviews</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text text-center"><span class="text-muted">Copyright &copy; 2020 All Rights Reserved by WheretoGoNext.
                    </p></span>
          </div>    
        </div>
      </div>
</footer>
 
  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/table.js"></script>

</body>

</html>
